body {
	font-family: 'Helvetica', sans-serif;
	color: #006ec7;
}

h1 {
	text-align: center;
	font-size: 38px;
}

h2 {
	text-align: center;
	font-size: 34px;
	font-style: italic;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 5pt solid;
}

th, td {
	border: 1pt solid;
}

a:link {
	color: #ee3424;
}

a:visited {
	color: #cb5348;
}

img {
	max-width: 95vw;
	max-height: 95vh;
}

p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}